# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db
flavor_*.json
distribute_options.yaml
coverage/

# IDE-specific
# IntelliJ
*.iml
*.ipr
*.iws
.idea/
.run/

# VS Code
.vscode/

# Flutter/Dart/Pub related
.packages
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Mason
.mason/

# Build artifacts
build/
dist/
web/build/

# Platform-specific build artifacts
# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS/macOS
**/ios/Flutter/.last_build_id
macos/build/
macos/Flutter/ephemeral/

# Linux
linux/build/
linux/flutter/ephemeral/

# Windows
windows/build/
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
windows/runner/x64/
windows/runner/Win32/
windows/runner/*.vcxproj.user
windows/runner/*.filters
windows/runner/*.suo
windows/runner/*.sdf
windows/runner/*.opendb
windows/runner/*.pdb
windows/runner/*.ipch
windows/runner/*.obj
windows/runner/*.exe
windows/runner/*.ilk
windows/runner/*.log
windows/runner/*.tlog
windows/runner/*.lastbuildstate
windows/runner/*.vc.opendb
windows/runner/*.aps
windows/runner/*.res
windows/runner/*.rcdep
windows/runner/*.manifest
windows/runner/*.tlb
windows/runner/*.bsc
windows/runner/*.sbr
windows/runner/*.dll
windows/runner/*.exp
windows/runner/*.lib
windows/runner/*.winmd
windows/runner/*.appx
windows/runner/*.appxbundle
windows/runner/*.vsix
windows/runner/*.vsproj
windows/runner/*.vsprops
windows/runner/*.vstemplate
windows/runner/*.vsz
windows/runner/*.pdb
windows/runner/*.idb
windows/runner/*.iobj
windows/runner/*.ipdb
windows/runner/*.ncb
windows/runner/*.opt
windows/runner/*.pch
windows/runner/*.pgd
windows/runner/*.plg
windows/runner/*.res
windows/runner/*.tlh
windows/runner/*.tli
windows/runner/*.tmp
windows/runner/*.user
windows/runner/*.vcxproj.filters
windows/runner/*.vcxproj.user
windows/runner/*.vspscc
windows/runner/*.vssscc
windows/runner/*.vsscc
windows/runner/*.scc
windows/runner/*.vsmdi
windows/runner/*.webtest
windows/runner/*.testsettings
windows/runner/*.trx

# Symbolication/Obfuscation files
app.*.symbols
app.*.map.json

# Generated API docs
**/doc/api/

# FVM Version Cache
.fvm/